:root {
  --scheduler-process-0: #4f8ef7;
  --scheduler-process-1: #f76f4f;
  --scheduler-process-2: #4fdb8e;
  --scheduler-process-3: #f7c04f;
  --scheduler-process-4: #af4ff7;
  --scheduler-process-5: #4ff7f0;
  --scheduler-process-6: #f74faa;
  --scheduler-process-7: #8ef74f;
  --scheduler-process-8: #f7a44f;
  --scheduler-process-9: #4f6ef7;
}
